<div class="item">
                                
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/450x880-5.jpg" alt="">
			
			<div class="portfolio-item-overlay">
				
				<div class="portfolio-item-description">
					
					<h2>Fusce porta</h2>
					
					<p>Duis odio turpis, mollis sit amet nulla nec, consectetur tempor enim. Donec tortor lacus, maximus sit 
					amet tortor ac, convallis aliquet est. Nulla luctus sit amet sem id suscipit.</p>
					
					<a class="btn" href="#">Learn more</a>
					
				</div><!-- end .portfolio-item-description -->
				
			</div><!-- end .portfolio-item-overlay -->
			
		</div><!-- end .portfolio-item-preview -->
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->

<div class="item">
                                
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/450x530-3.jpg" alt="">
			
			<div class="portfolio-item-overlay">
				
				<div class="portfolio-item-description">
					
					<h2>Donec erat</h2>
					
					<p>Etiam ac fringilla enim. Maecenas nulla tortor, fringilla at porta vel, vulputate varius nunc. Proin dictum 
					purus in mi ultrices convallis fermentum mi lorem.</p>
					
					<a class="btn" href="#">Learn more</a>
					
				</div><!-- end .portfolio-item-description -->
				
			</div><!-- end .portfolio-item-overlay -->
			
		</div><!-- end .portfolio-item-preview -->
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->

<div class="item">
                                
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/450x530-4.jpg" alt="">
			
			<div class="portfolio-item-overlay">
				
				<div class="portfolio-item-description">
					
					<h2>Nullam sit</h2>
					
					<p>Donec accumsan lacinia pellentesque. Mauris ut dictum quam, eu varius nunc. Nullam sit amet ipsum varius, viverra 
					justo et, molestie lectus.</p>
					
					<a class="btn" href="#">Learn more</a>
					
				</div><!-- end .portfolio-item-description -->
				
			</div><!-- end .portfolio-item-overlay -->
			
		</div><!-- end .portfolio-item-preview -->
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->

<div class="item">
                                
	<div class="portfolio-item">
		
		<div class="portfolio-item-preview">
			
			<img src="_content/portfolio/450x530-5.jpg" alt="">
			
			<div class="portfolio-item-overlay">
				
				<div class="portfolio-item-description">
					
					<h2>Etiam ultrices</h2>
					
					<p>Nam urna justo, tristique et leo in, porttitor lobortis ante. Phasellus sit amet faucibus enim. Proin quam ex, 
					commodo sed arcu a, mollis posuere libero.</p>
					
					<a class="btn" href="#">Learn more</a>
					
				</div><!-- end .portfolio-item-description -->
				
			</div><!-- end .portfolio-item-overlay -->
			
		</div><!-- end .portfolio-item-preview -->
		
	</div><!-- end .portfolio-item -->
	
</div><!-- end .item -->